.main-container {
  display: grid;
  grid-template-columns: 310px 1fr;
  min-height: 100vh;
  /* background-color: blue; */
}

.main-aside{
    /* display: none; */
    max-height: 100vh;
    overflow-y: auto;
    padding: 60px 15px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.main-main{

}