.main-container {
  display: grid;
  grid-template-columns: 310px 1fr;
  min-height: 100vh;
  /* background-color: blue; */
}

.main-aside {
  /* display: none; */
  max-height: 100vh;
  overflow-y: auto;
  padding: 60px 15px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.main-main {
  display: flex;
  gap: 30px;
  overflow-y: hidden;
  width: 100%;
}
.main-wrapper {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.main-left-bar {
  max-height: 90vh;
  max-width: 310px;
  overflow-y: auto;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.treding-post {
  background-color: #f7f9f9;
  border: 1px solid #f7f9f9;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  max-width: 310px;
  padding: 15px 18px;
  max-height: 400px;
  position: sticky;
  overflow-y: auto;
}
.treding-course {
  background-color: #f7f9f9;
  border: 1px solid #f7f9f9;
  border-radius: 10px;
  gap: 20px px;
  margin: 20px 0;
  padding: 14px 18px;
  display: flex;
  flex-direction: column;
}

.treding-post-header {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.treding-post-header svg {
  color: #f45046;
  height: 20px;
  width: auto;
}

.treding-post-header h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trending-list-wrapper {
  gap: 16px;
  max-height: 320px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
