.header-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #fff;

  max-width: var(1281px);
  position: sticky;
  top: 0px;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  padding: 8px 12px;
}
.header-logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;
}
.header-logo img {
  height: 40px;
  width: 40px;
}
.header-logo h2 {
  color: #000;
  font-family: CipherSchools_font;
  font-size: 30px;
  font-weight: 550;
  letter-spacing: 2px;
  padding: 0px 2px;
}
.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}
.profile-container h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.header-profile {
  display: flex;
  /* gap: 12px; */
  justify-content: flex-end;
  width: 100%;
}

.header-profile-btn {
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.15);
  height: 40px;
  overflow: hidden;
  width: 40px;
  background-color: transparent;
}

.header-profile > button > img {
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
  z-index: 1;
}
